<div class="pb-4" *ngIf="courseExams && !selectedClass && courseExams.length>0">
  <div class="pl-4">
    <div class="row pl-2">
      <div class="text-secondary pt-2 flex-row-reverse flex-wrap-reverse text-right"><i
        class="fa fa-exclamation-triangle  text-warning pr-2"></i>
        <span> {{'CourseExamPermission' | translate}}  ({{courseExams[0].name}} - {{courseExams[0]?.course?.displayCode}})</span></div>
    </div>
  </div>
</div>
<div class="card" *ngIf="courseExams">
  <div class="card-body">
    <div class="row pb-5">
      <div class="col-12 tab-navbar tab-container">
        <ul class="nav nav-tabs">
          <li class="nav-item tab-brand disabled">
            <a class="nav-link disabled" href="javascript:void(0)" [translate]="'CoursesLocal.Grades'"> </a>
          </li>
          <li class="nav-item" *ngFor="let courseExam of courseExams; let i = index;">
            <a class="nav-link" [routerLink]="[courseExam.id]" [routerLinkActive]="'active'">
              {{courseExam.examPeriod | localize:['name']}} {{courseExam.year.alternateName}}
            </a>
          </li>
        </ul>
        <div class="tab-content border-0">
          <div class="tab-pane active">
            <div class="row pl-2" *ngIf="this.courseExams && this.courseExams.length == 0">
              <h5 [translate]="'CoursesLocal.NoExamResults'">
              </h5>
            </div>
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
    <div class="row d-none">
      <h5 [translate]="'CoursesLocal.HistoryChanges'">
      </h5>
      <div class="row pl-4" *ngFor="let y of courseExams">
        {{y.status.dateModified | date: 'shortDate'}}
      </div>
    </div>
  </div>
</div>
