<div>
  <div class="row">
    <div class="col-12" [ngVar]="{}" #filter="ngVar">
      <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [collapsed]="true" [table]="table" [allowSave]="false" [routerSearchState]>
        <advanced-search>
          <app-advanced-search-form (filterChange)="advancedSearch.asyncAdvancedSearch()" #search [form]="searchConfiguration" [(filter)]="filter.value"></app-advanced-search-form>
        </advanced-search>
      </app-advanced-table-search>
    </div>
  </div>
  <div class="alert alert-info col-12 mt-4" [translate]="'iTheses.Info'"></div>
  <div class="row">
    <div class="col-auto mt-2">
      <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'iTheses.Title'"></span>
      </div>
      <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'iTheses.TitleSingular'"></span>
      </div>
    </div>
    <div class="col-12 mb-4">
      <app-advanced-table #table [height]="600" (load)="onDataLoad($event)" [autoLoad]="false"></app-advanced-table>
    </div>
  </div>
  <router-modal></router-modal>
</div>
