<div class="m-lg-3 ">
  <div class="row" *ngIf="isLoading">
    <h1><div class="ph-col-12"><div class="ph-row"><div class="ph-col-2 big"></div></div></div></h1>
  </div>
  <div class="row" *ngIf="!isLoading">
    <h1 [translate]="'iTheses.ThesesCompletedTitle'"></h1>
  </div>
  <div class="theses_search_filters">
    <form class="form-inline p-2 col">
      <div class="form-group col-12 col-md-6 col-lg-auto py-1">
        <label class="pr-2" for="searchText" [translate]="'iTheses.ThesisType.type'"></label>
            <select  class="form-control" id="selectedThesisType" name="selectedThesisType" [(ngModel)]="selectedThesisType" (ngModelChange)="search()">
              <option [ngValue]="null"><span [translate]="'iTheses.FilterByStatus'"></span></option>
              <option *ngFor="let thesisTypes of select  | groupBy: [ 'type.alternateName']  | values" [ngValue]="thesisTypes[0].type.alternateName"> {{ thesisTypes[0].type | localize:['name']}}</option>
            </select>
      </div>

      <div class="form-group col-12 col-md-6 py-1">
        <label class="pr-2" [translate]="'iTheses.Search'"></label>
        <input spellcheck="false" (keyup.enter)="search()" type="text" id="searchText" [(ngModel)]="searchText"
                name="searchText" class="form-control col text-left" [placeholder]="'iTheses.SearchPlaceHolder' | translate">
        </div>
    </form>
  </div>
  <div class="mt-2">
    <div>
      <div *ngIf="this.count > 1 || this.count == 0" class=" mt-1 text-right text-color-theme font-xl sis-brand-bold">  {{this.count}} {{'iTheses.Results' | translate}}</div>
      <div *ngIf="this.count === 1" class=" mt-1 text-right text-color-theme font-xl sis-brand-bold">  {{this.count}} {{'iTheses.Result' | translate}}</div>
    </div>
  </div>

  <!--pre-loading state-->
  <div class="row" *ngIf="isLoading">

    <div class="col-md-1 border-right">
      <div >
        <div class="ph-row">
          <div class="ph-col-12 big"></div>
          <div class="ph-col-12 big"></div>
          <div class="ph-col-12 big"></div>
        </div>
      </div>
    </div>

    <div class="col-md-11">
      <div class="card mb-3 mt-5">
        <div class="card-body">
          <div class="ph-col-12">
            <div class="ph-row">
              <div class="ph-col-8 big"></div>
            </div>
            <div class="ph-row">
              <div class="ph-col-2 big"></div>
              <div class="ph-col-2 ml-3 big"></div>
              <div class="ph-col-2 ml-3 big"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end pre-loading state-->

  <div class="app-body mt-5" *ngIf="completedTheses && completedTheses.length > 0">
    <!-- left menu -->
    <div class="app-sidebar d-none d-lg-block py-1">
      <div class="row">
        <ul class="menu-left pl-3">
          <li *ngFor="let theses of completedTheses | groupBy: 'startYear.alternateName' | values; let i = index;">
            <a class="mb-4 fragment-link" [class.active]="selectedIndex === i" (click)="setIndex(i)"
               [routerLink]="['/theses/completed']" fragment="d{{theses[0]?.startYear?.id}}" *ngIf="theses[0].startYear">
              {{theses[0]?.startYear?.alternateName}}
            </a>
            <a class="mb-4 fragment-link" [class.active]="selectedIndex === i" (click)="setIndex(i)"
               [routerLink]="['/theses/completed']" fragment="unknown" *ngIf="!theses[0].startYear">
              <span [translate]="'iTheses.Unknown'"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- end left menu -->

    <div class="separator d-none d-lg-block"></div>

    <!-- content -->
    <div class="main inner__content px-md-5 px-2" id="inner__content" (scroll)="scrollHandler($event)">
      <div *ngFor="let theses of completedTheses | groupBy: 'startYear.alternateName' | values" class="theses" >
        <h3 class="mb-4" *ngIf="theses[0].startYear" id="d{{theses[0]?.startYear?.id}}">{{theses[0]?.startYear?.alternateName}}</h3>
        <h3 class="mb-4" *ngIf="!theses[0].startYear" id="unknown"><span [translate]="'iTheses.Unknown'"></span></h3>

        <div class="card mb-4 mt-5" *ngFor="let thesis of theses; let i = index" >
          <div class="card-body">
            <div>
              <div *ngIf="thesis?.students">
                <div>
                    <div class="row">
                      <div class="col col-lg-8 col-md-10">
                        <div>
                          <h5>{{ thesis | localize:['name'] }} - {{ thesis?.status | localize:['name'] }}</h5>
                        </div>
                      </div>
                      <!-- visible only on screen wider than md -->
                      <div class="col col-lg-4 col-md-4 d-none d-md-block">
                        <span class="text-secondary align-middle mr-3 grade-title float-right">{{ 'iTheses.GradeTitle' | translate }}&nbsp;&nbsp;&nbsp;&nbsp;<span [ngClass]="(thesis.isPassed)?'passed-grade':'failed-grade'">{{ thesis.formattedGrade || '-'}}</span></span>
                      </div>
                      <!-- visible only on screen more tight than lg-->
                      <div class="col d-lg-none">
                        <span class="text-secondary align-middle mr-3 float-right"><span [ngClass]="(thesis.isPassed)?'passed-grade':'failed-grade'">{{ thesis.formattedGrade || '-'}}</span></span>
                      </div>
                  </div>
                  <div class="mb-2">
                    <span class="text-secondary mr-3"><i class="fa fa-university pr-1"></i>{{ thesis?.department| localize:['name'] }}</span>
                    <span title="{{ 'iTheses.ThesisType.type' | translate }}" class="text-secondary mr-3"><i class="fa fa-flag pr-1"></i>{{ thesis?.type | localize:['name'] }}</span>
                    <span *ngIf="thesis.startDate" title="{{ 'iTheses.StartDate' | translate }}" class="text-secondary mr-3"><i class="fa fa-calendar pr-1"></i>{{thesis?.startDate | localizedDate: 'shortDate'}}</span>
                    <span *ngIf="thesis.endDate" title="{{ 'iTheses.EndDate' | translate }}" class="text-secondary mr-3"><i class="fa fa-calendar pr-1"></i>{{thesis?.endDate | localizedDate: 'shortDate'}}</span>
                  </div>
                  <div class="mb-2" *ngIf="thesis?.students.length===0">
                    <span title="{{ 'iTheses.NotAssigned' | translate }}" class="text-secondary mr-3">{{ 'iTheses.NotAssigned' | translate }}</span>
                  </div>
                  <div class="mb-2 pt-2" *ngIf="thesis?.students.length">
                    <span *ngFor="let std of thesis?.students">
                      <span title="{{ 'iTheses.StudentName' | translate }}" class="text-secondary mr-3"><i class="fa fa-user pr-1"></i>({{std.student.studentIdentifier}})&nbsp;{{ std.student.familyName }} {{ std.student.givenName }}</span>
                      <span title="{{ 'iTheses.StudentStatus' | translate }}" class="text-secondary"><i class="fa fa-id-card pr-1"></i><span [translate]="'iTheses.StudentStatus'"></span>: <span [translate]="'StudentStatuses.'+ std.student.studentStatus?.alternateName"></span></span>
                      <br>
                      <div class="row mt-2 mb-4">
                        <div class="col-12">
                          <ul class="sis--list-group sis--list-group-body">
                            <li class="sis--list-group-item" *ngFor="let thesisInfo of std.results">
                              <div class="d-flex justify-content-center align-items-center list-color">
                                <div class="sis--list-group-item_lg_column" [ngClass]="(instructor.id == thesisInfo.instructor.id)?'text-primary':'text-secondary'">{{thesisInfo.instructor | localize:['familyName']}} {{thesisInfo.instructor | localize:['givenName']}}</div>
                                <div class="sis--list-group-item_lg_column text-secondary">{{'iTheses.RoleNames.' + thesisInfo.instructor.roleName | translate}} </div>
                                <div class="sis--list-group-item_lg_column grade-small" class="grade-small" [ngClass]="(thesisInfo.isPassed)?'passed-grade':'failed-grade'">
                                  <span *ngIf="thesisInfo.formattedGrade">{{ thesisInfo.formattedGrade }}</span>
                                  <span *ngIf="!thesisInfo.formattedGrade">-</span>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end content -->

  </div>
  <!-- empty text -->
  <div *ngIf="!isLoading && completedTheses && completedTheses.length === 0">
    <div class="row mt-3">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <p class="card-text"  [translate]="'iTheses.ThesesCompletedEmpty'"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end empty text -->
</div>
