<div *ngIf="!loading" class="pb-3">
  <div class="pb-5" *ngIf="instructor">
    <h1 class="title">
      {{'CoursesLocal.ModuleTitle' | translate}}
      <h5 class="d-lg-inline d-md-inline d-sm-block font-weight-normal pr-2">
        <span>{{instructor.department?.currentPeriod?.alternateName | translate}}
          {{instructor.department?.currentYear?.alternateName}}</span>
      </h5>
    </h1>
  </div>
  <div *ngIf="CoursesDiffDep?.length !== 0" class="mb-3">
    <div class=" d-none d-md-block">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <div *ngIf="instructor.department?.length !== 0">
            <a class="nav-link active" [class.active]="viewMode == 'tab1'" rel="tab1" (click)="viewMode ='tab1'">
              {{instructor.department | localize:['name']}}</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="viewMode == 'tab2'" rel="tab2" (click)="viewMode ='tab2'"
            [translate]="'CoursesLocal.OtherDepartment'"></a>
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="CoursesDiffDep?.length !== 0" class="mb-3">
    <ul class="nav bg-white d-flex justify-content-around s--nav-tabs d-md-none">
      <li class="nav-item w-50">
        <div *ngIf="instructor.department?.length !== 0">
          <a class="nav-link text-dark font-sm active" title="{{instructor.department | localize:['name']}}"
            [class.active]="viewMode == 'tab1'" rel="tab1" (click)="viewMode ='tab1'"> {{instructor?.department |
            localize:['name']}}</a>
        </div>
      </li>
      <li class="nav-item w-50">
        <a class="nav-link text-dark font-sm" title="{{'CoursesLocal.OtherDepartment' | translate }}"
          [class.active]="viewMode == 'tab2'" rel="tab2" (click)="viewMode ='tab2'"
          [translate]="'CoursesLocal.OtherDepartment'"></a>
      </li>
    </ul>
  </div>
  <div [ngSwitch]="viewMode">
    <div id="tab1" *ngSwitchCase="'tab1'">
      <div *ngIf="CoursesSameDep?.length !== 0; else nocoursesame">
        <div *ngFor="let courseClass of CoursesSameDep;">
          <div class="col-xs-12 col-sm-12 d-md-none">
            <div>
              <div class='card'>
                <a [routerLink]="['/courses', courseClass.course.id,courseClass.year.id,courseClass.period.id]">
                  <div class='card-body my-n2'>
                    <div class='row'>
                      <h5 class="ml-2 card-title" *ngIf="currentLanguage == defaultLanguage; else notDefault">
                        {{courseClass.title}}</h5>
                      <ng-template #notDefault>
                        <h5>{{courseClass | localize:['title']}}</h5>
                      </ng-template>
                    </div>
                    <div class="row text-gray-600">
                      <div class="col-12">
                        <div class="row justify-content-start mb-2">
                          <div class="col-auto">
                            <i class="fa fa-flag"></i>
                            <span class="pl-2">{{courseClass.course?.displayCode}}</span>
                          </div>
                          <div class="col-auto">
                            <i class="fa fa-user"></i>
                            <span class="pl-2">{{ courseClass.numberOfStudents }}</span> <span class="pl-1"
                              *ngIf="courseClass.numberOfStudents > 1"
                              [translate]="'CoursesLocal.Students'"></span><span class="pl-1"
                              *ngIf="courseClass.numberOfStudents === 1" [translate]="'CoursesLocal.Student'"></span>
                          </div>
                          <div class="col-auto">
                            <span *ngIf="courseClass.sections?.length == 0; else Show">
                              <i class="fa fa-group pr-2"></i>
                              <span [translate]="'CoursesLocal.SectionNotFound'"></span>
                            </span>
                            <ng-template #Show>
                              <i class="fa fa-group"></i>
                              <span class="pl-2" *ngFor="let section of courseClass.sections; let isLast=last">
                                {{ section.name }}{{isLast ? '' : ', '}}
                              </span>
                            </ng-template>
                          </div>
                        </div>
                        <div class="row justify-content-start mb-2">
                          <div class="col-auto">
                            <i class="fa fa-calendar"></i>

                            <span class="pl-2">{{courseClass.period?.alternateName | translate}}
                              {{courseClass.year?.alternateName}}</span>
                          </div>
                          <div class="col-auto">
                            <i class="fa fa-university"></i>
                            <span class="pl-2">{{ courseClass.course?.department | localize:['name'] }}</span>
                          </div>
                        </div>
                        <div class="d-block d-sm-none">
                          <button type="button" class="btn btn-outline-secondary btn-sm btn-block rounded-pill p-2"
                            [routerLink]="['/courses', courseClass.course.id,courseClass.year.id,courseClass.period.id]"
                            [translate]="'CoursesLocal.MoreCourseInfo'">
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class='card d-none d-md-block'>
            <div class='card-body my-n2'>
              <div class="row text-gray-600">
                <div class="col-xl-9 col-lg-6 col-md-6 col-sm-12">
                  <div class='row justify-content-start mb-2'>
                    <h5 class="ml-2 card-title">
                      {{courseClass.course.displayCode}} - {{courseClass.title}}
                    </h5>
                    <ng-template #notDefault>
                      <h5>{{courseClass | localize:['title']}}</h5>
                    </ng-template>
                  </div>
                  <div class="row justify-content-start mb-2">
                    <div class="col-auto">
                      <i class="fa fa-flag"></i>
                      <span class="pl-2">{{courseClass.course?.displayCode}}</span>
                    </div>
                    <div class="col-auto">
                      <i class="fa fa-user"></i>
                      <span class="pl-2">{{ courseClass.numberOfStudents }}</span> <span class="pl-1"
                        *ngIf="courseClass.numberOfStudents > 1" [translate]="'CoursesLocal.Students'"></span><span
                        class="pl-1" *ngIf="courseClass.numberOfStudents === 1"
                        [translate]="'CoursesLocal.Student'"></span>
                    </div>
                    <div class="col-auto">
                      <span *ngIf="courseClass.sections?.length == 0; else Show">
                        <i class="fa fa-group pr-2"></i>
                        <span [translate]="'CoursesLocal.SectionNotFound'"></span>
                      </span>
                      <ng-template #Show>
                        <i class="fa fa-group"></i>
                        <span class="pl-2" *ngFor="let section of courseClass.sections; let isLast=last">
                          {{ section.name }}{{isLast ? '' : ', '}}
                        </span>
                      </ng-template>
                    </div>
                  </div>
                  <div class="row justify-content-start mb-2">
                    <div class="col-auto">
                      <i class="fa fa-link"></i>
                      <span *ngIf="courseClass?.eLearningUrl; else ShowNoElearning" class="pl-2">
                        <a [href]="'' + courseClass?.eLearningUrl">
                          <span [translate]="'CoursesLocal.Elearning'"></span>
                        </a>
                      </span>
                      <ng-template #ShowNoElearning>
                        <span class="text-gray-200" [translate]="'CoursesLocal.Elearning'"></span>
                      </ng-template>
                    </div>
                    <div class="col-auto">
                      <i class="fa fa-link"></i>
                      <span *ngIf="courseClass?.classUrl; else ShowNoClassURL" class="pl-2">
                        <a [href]="'' + courseClass?.classUrl">
                          <span [translate]="'CoursesLocal.ClassURL'"></span>
                        </a>
                      </span>
                      <ng-template #ShowNoClassURL>
                        <span class="text-gray-200" [translate]="'CoursesLocal.ClassURL'"></span>
                      </ng-template>
                    </div>
                  </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-3 col-12 d-none d-md-block" align="center">
                  <div class="btn-group align-items-center justify-content-center h-100 w-100">
                    <div class="col-12">
                      <div dropdown class="w-100">
                        <ng-template #tooltipTextGrades>
                          <div [translate]="'NotAvailableFeature.ShowGrades'" class="text-secondary font-sm"></div>
                        </ng-template>
                        <button dropdownToggle type="button" class="btn btn-universis btn-brand btn-block p-2 mb-2"
                          [ngClass]="courseClass.exams.length>0?'':'disabled'"
                          [tooltip]="courseClass.exams.length>0 ?  null: tooltipTextGrades">
                          <span [translate]="'CoursesLocal.Grading'"></span>
                        </button>
                        <ul *dropdownMenu class="dropdown-menu dropdown-menu-left" role="menu">
                          <div *ngFor="let courseExam of courseClass.exams">
                            <div>
                              <li role="menuitem"><a class="dropdown-item" align="left"
                                  [routerLink]="['/courses',courseClass.course.id,courseClass.year.id,courseClass.period.id,'exams',courseExam.id]">
                                  {{courseExam.examPeriod.name}} {{courseExam.year.alternateName}}</a></li>
                            </div>
                          </div>
                        </ul>
                      </div>
                    </div>
                    <div class="col-12">
                      <div id="wrapper" class="w-100" dropdown>
                        <button type="button" class="btn btn-outline-secondary btn-sm btn-block rounded-pill p-2 mb-2"
                          [routerLink]="['/courses', courseClass.course.id,courseClass.year.id,courseClass.period.id]">
                          <span [translate]="'CoursesLocal.MoreCourseInfo'"></span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #nocoursesame>
        <span [translate]="'CoursesLocal.CoursesNotFound'"></span>
      </ng-template>
    </div>
    <div id="tab2" *ngSwitchCase="'tab2'">
      <div *ngIf="CoursesDiffDep?.length !== 0; else nocoursediff">
        <div *ngFor="let coursediff of CoursesDiffDep;">
          <div class="col-xs-12 col-sm-12 d-md-none">
            <div>
              <div class='card'>
                <a [routerLink]="['/courses', coursediff.course.id,coursediff.year.id,coursediff.period.id]">
                  <div class='card-body my-n2'>
                    <div class='row'>
                      <h5 class="ml-2 card-title" *ngIf="currentLanguage == defaultLanguage; else notDefault">
                        {{coursediff.title}}</h5>
                      <ng-template #notDefault>
                        <h5>{{coursediff | localize:['title']}}</h5>
                      </ng-template>
                    </div>
                    <div class="row text-gray-600">
                      <div class="col-12">
                        <div class="row justify-content-start mb-2">
                          <div class="col-auto">
                            <i class="fa fa-flag-checkered"></i>
                            <span class="pl-2">{{coursediff.course?.displayCode}}</span>
                          </div>
                          <div class="col-auto">
                            <i class="fa fa-user"></i>
                            <span class="pl-2">{{ coursediff.numberOfStudents }}</span> <span class="pl-1"
                              *ngIf="coursediff.numberOfStudents > 1" [translate]="'CoursesLocal.Students'"></span><span
                              class="pl-1" *ngIf="coursediff.numberOfStudents === 1"
                              [translate]="'CoursesLocal.Student'"></span>
                          </div>
                          <div class="col-auto">
                            <span *ngIf="coursediff.sections?.length == 0; else Show">
                              <i class="fa fa-group pr-2"></i>
                              <span [translate]="'CoursesLocal.SectionNotFound'"></span>
                            </span>
                            <ng-template #Show>
                              <i class="fa fa-group"></i>
                              <span class="pl-2" *ngFor="let section of coursediff.sections; let isLast=last">
                                {{ section.name }}{{isLast ? '' : ', '}}
                              </span>
                            </ng-template>
                          </div>
                        </div>
                        <div class="row justify-content-start mb-2">
                          <div class="col-auto">
                            <i class="fa fa-calendar"></i>

                            <span class="pl-2">{{coursediff.period?.alternateName | translate}}
                              {{coursediff.year?.alternateName}}</span>
                          </div>
                          <div class="col-auto">
                            <i class="fa fa-university"></i>
                            <span class="pl-2">{{ coursediff.course?.department | localize:['name'] }}</span>
                          </div>
                        </div>
                        

                        <div class="d-block d-sm-none">
                          <button type="button" class="btn btn-outline-secondary btn-sm btn-block rounded-pill p-2 mb-2"
                            [routerLink]="['/courses', coursediff.course.id,coursediff.year.id,coursediff.period.id]"
                            [translate]="'CoursesLocal.MoreCourseInfo'">
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class='card d-none d-md-block'>
            <div class='card-body my-n2'>
              <div class="row text-gray-600">
                <div class="col-xl-9 col-lg-6 col-md-6 col-sm-12">
                  <div class='row justify-content-start mb-2'>
                    <h5 class="ml-2 card-title" *ngIf="currentLanguage == defaultLanguage; else notDefault">
                      {{coursediff.title}}
                    </h5>
                    <ng-template #notDefault>
                      <h5>{{coursediff | localize:['title']}}</h5>
                    </ng-template>
                  </div>
                  <div class="row justify-content-start mb-2">
                    <div class="col-auto">
                      <i class="fa fa-flag-checkered"></i>
                      <span class="pl-2">{{coursediff.course?.displayCode}}</span>
                    </div>
                    <div class="col-auto">
                      <i class="fa fa-user"></i>
                      <span class="pl-2">{{ coursediff.numberOfStudents }}</span> <span class="pl-1"
                        *ngIf="coursediff.numberOfStudents > 1" [translate]="'CoursesLocal.Students'"></span><span
                        class="pl-1" *ngIf="coursediff.numberOfStudents === 1"
                        [translate]="'CoursesLocal.Student'"></span>
                    </div>
                    <div class="col-auto">
                      <span *ngIf="coursediff.sections?.length == 0; else Show">
                        <i class="fa fa-group pr-2"></i>
                        <span [translate]="'CoursesLocal.SectionNotFound'"></span>
                      </span>
                      <ng-template #Show>
                        <i class="fa fa-group"></i>
                        <span class="pl-2" *ngFor="let section of coursediff.sections; let isLast=last">
                          {{ section.name }}{{isLast ? '' : ', '}}
                        </span>
                      </ng-template>
                    </div>
                    <div class="col-auto">
                      <i class="fa fa-calendar"></i>
                      <span class="pl-2">{{coursediff.period?.alternateName | translate}}
                        {{coursediff.year?.alternateName}}</span>
                    </div>
                    <div class="col-auto">
                      <i class="fa fa-university"></i>
                      <span class="pl-2">{{ coursediff.course?.department | localize:['name'] }}</span>
                    </div>
                  </div>
                  <div class="row justify-content-start mb-2">
                    <div class="col-auto">
                      <i class="fa fa-link"></i>
                      <span *ngIf="coursediff?.eLearningUrl; else ShowNoElearning" class="pl-2">
                        <a [href]="'' + coursediff?.eLearningUrl">
                          <span [translate]="'CoursesLocal.Elearning'"></span>
                        </a>
                      </span>
                      <ng-template #ShowNoElearning>
                        <span class="text-gray-200" [translate]="'CoursesLocal.Elearning'"></span>
                      </ng-template>
                    </div>
                    <div class="col-auto">
                      <i class="fa fa-link"></i>
                      <span *ngIf="coursediff?.classUrl; else ShowNoClassURL" class="pl-2">
                        <a [href]="'' + coursediff?.classUrl">
                          <span [translate]="'CoursesLocal.ClassURL'"></span>
                        </a>
                      </span>
                      <ng-template #ShowNoClassURL>
                        <span class="text-gray-200" [translate]="'CoursesLocal.ClassURL'"></span>
                      </ng-template>
                    </div>
                  </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-3 col-12 d-none d-md-block" align="center">
                  <div class="btn-group align-items-center justify-content-center h-100 w-100">
                    <div class="col-12">
                      <div dropdown class="w-100">
                        <ng-template #tooltipTextGrades>
                          <div [translate]="'NotAvailableFeature.ShowGrades'" class="text-secondary font-sm"></div>
                        </ng-template>
                        <button dropdownToggle type="button" class="btn btn-universis btn-brand btn-block p-2 mb-2"
                          [ngClass]="coursediff.exams.length>0?'':'disabled'"
                          [tooltip]="coursediff.exams.length>0 ?  null: tooltipTextGrades">
                          <span [translate]="'CoursesLocal.Grading'"></span>
                        </button>
                        <ul *dropdownMenu class="dropdown-menu dropdown-menu-left" role="menu">
                          <div *ngFor="let courseExam of courseClass.exams">
                            <div>
                              <li role="menuitem"><a class="dropdown-item" align="left"
                                  [routerLink]="['/courses',coursediff.course.id,coursediff.year.id,coursediff.period.id,'exams',courseExam.id]">
                                  {{courseExam.examPeriod.name}} {{courseExam.year.alternateName}}</a></li>
                            </div>
                          </div>
                        </ul>
                      </div>
                    </div>
                    <div class="col-12">
                      <div id="wrapper" class="w-100" dropdown>
                        <button type="button" class="btn btn-outline-secondary btn-sm btn-block rounded-pill p-2 mb-2"
                          [routerLink]="['/courses', coursediff.course.id,coursediff.year.id,coursediff.period.id]">
                          <span [translate]="'CoursesLocal.MoreCourseInfo'"></span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #nocoursediff>
        <span [translate]="'CoursesLocal.CoursesNotFound'"></span>
      </ng-template>
    </div>
  </div>
</div>